/* Contact info table
-------------------------------------------------- */
.infoTable tbody tr:nth-child(2n) {
    background: #0001;
}

.infoTable tbody tr:nth-child(2n+1) {
    background: #0003;
}

.infoTable th {
    background: #000B;
    color: #FFF;
}

.infoTable th[scope="row"]::after {
    content: ":";
    padding-right: 15px;
}

